<!DOCTYPE html>
<html>
<head>
    
    <title>EcoOptima First Rev MVP</title>
    
</head>
    

<body>
    <font face="Arial">
    <center>
        <h1>Frontend and Backend Integration</h1>
        <p>WORKFLOW INTEGRATION TEST</p>
        <p>Ask me an enviormental question e.g. What is the cost of carbon</p>

  <form onsubmit="sendToFlask(); return false;">
      <input type="text" id="userInput" name="userInput">
      <button type="submit">Submit</button>
  </form>
  
  <div id="response"></div>
  
  <div id="charts"></div>

  <script>
  function sendToFlask() {
      var input = document.getElementById("userInput").value;
  
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/response", true);
      xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
  
      xhr.onreadystatechange = function() {
          if (xhr.readyState === 4 && xhr.status === 200) {
              var data = JSON.parse(xhr.responseText);
              document.getElementById("response").innerText = data.result;

              var charts = document.getElementById("charts");
              charts.innerHTML = "";
              (data.img_urls || []).forEach(function(src, idx) {
                  var img = document.createElement("img");
                  img.src = src;
                  img.alt = "chart " + (idx + 1);
                  img.style.maxWidth = "100%";
                  img.style.height = "auto";
                  charts.appendChild(img);
              });
          }
      };
  
      xhr.send("userInput=" + encodeURIComponent(input));
  }
  </script>


</body>
</html>
