<!DOCTYPE html>
<html>
<head>
    
    <title>EcoOptima First Rev MVP</title>
    
</head>
    

<body>
    <font face="Arial">
    <center>
        <h1>Frontend and Backend Integration</h1>
        <p>WORKFLOW INTEGRATION TEST</p>
        <p>Ask me an enviormental question e.g. What is the cost of carbon</p>

        <form onsubmit="sendToFlask(); return false;">
        <input type="text" id="userInput" name="userInput">
        <button type="submit">Submit</button>
        </form>

    </center>

    <td width="200" valign="top" bgcolor="#e6e6e6">
        <h3><a href="{{ url_for('home') }}">EcoOptima</a></h3>
        <a href="about.html">About</a><br><br>
        <a href="{{ url_for('community') }}">Community</a>
        
    </td>

  
  
  <div id="response"></div>
  
  <div id="charts"></div>

    <!-- Function for flask -- javascript code moved to js file where we can access it in multiple files. -->
    <script 
        src="{{ url_for('static', filename='js/common.js') }}"> 
    </script>
</body>
</html>
